:root {
  --oui-font-family: 'Nunito', sans-serif;
  --oui-font-size-base: 18px;

  /* colors */
  --oui-color-primary: 165 42 42;
  --oui-color-primary-light: 204 88 88;
  --oui-color-primary-darken: 136 24 24;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 165 42 42;
  --oui-color-link-light: 204 88 88;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 201 56 53;
  --oui-color-danger-light: 250 122 121;
  --oui-color-danger-darken: 176 39 39;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 88 235 143;
  --oui-color-success-darken: 34 184 131;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 198 96;
  --oui-color-warning-darken: 225 164 46;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 26 26;
  --oui-color-fill-active: 56 36 36;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 83 73 113;
  --oui-color-base-3: 73 63 103;
  --oui-color-base-4: 63 53 93;
  --oui-color-base-5: 53 43 83;
  --oui-color-base-6: 43 33 73;
  --oui-color-base-7: 66 56 96;
  --oui-color-base-8: 26 20 46;
  --oui-color-base-9: 16 10 36;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 136 64 64;
  --oui-gradient-primary-end: 165 42 42;

  --oui-gradient-secondary-start: 83 73 113;
  --oui-gradient-secondary-end: 204 88 88;

  --oui-gradient-success-start: 34 184 131;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 176 39 39;
  --oui-gradient-danger-end: 201 56 53;

  --oui-gradient-brand-start: 204 88 88;
  --oui-gradient-brand-end: 165 42 42;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 225 164 46;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 53 43 83;
  --oui-gradient-neutral-end: 40 26 26;

  /* rounded */
  --oui-rounded-sm: 8px;
  --oui-rounded: 8px;
  --oui-rounded-md: 8px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 8px;
  --oui-rounded-2xl: 8px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Nunito', sans-serif !important;
  font-size: 18px !important;
}