:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 34 170 85;
  --oui-color-primary-light: 77 204 140;
  --oui-color-primary-darken: 14 136 62;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 59 183 122;
  --oui-color-link-light: 109 217 173;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 226 71 63;
  --oui-color-danger-light: 250 122 121;
  --oui-color-danger-darken: 201 56 53;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 35 227 93;
  --oui-color-success-light: 88 235 143;
  --oui-color-success-darken: 15 163 63;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 219 166 49;
  --oui-color-warning-light: 255 198 96;
  --oui-color-warning-darken: 193 134 19;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 24 24 24;
  --oui-color-fill-active: 40 40 40;

  --oui-color-base-1: 44 39 59;
  --oui-color-base-2: 36 32 47;
  --oui-color-base-3: 29 26 38;
  --oui-color-base-4: 23 20 29;
  --oui-color-base-5: 18 16 22;
  --oui-color-base-6: 13 12 17;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 8 8 12;
  --oui-color-base-9: 5 5 8;
  --oui-color-base-10: 0 0 4;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 226 71 63;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 35 227 93;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 23 115 64;
  --oui-gradient-primary-end: 59 183 122;

  --oui-gradient-secondary-start: 36 32 47;
  --oui-gradient-secondary-end: 77 204 140;

  --oui-gradient-success-start: 15 163 63;
  --oui-gradient-success-end: 35 227 93;

  --oui-gradient-danger-start: 201 56 53;
  --oui-gradient-danger-end: 226 71 63;

  --oui-gradient-brand-start: 77 204 140;
  --oui-gradient-brand-end: 34 170 85;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 193 134 19;
  --oui-gradient-warning-end: 219 166 49;

  --oui-gradient-neutral-start: 18 16 22;
  --oui-gradient-neutral-end: 24 24 24;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}